* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; 
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

header {
  height: 280px;
  width: 100%;
  background-color: #E5F3F2;
}

article {
  position: relative;
  height: fit-content;
  margin: 10px auto;
  width: 50%;
}

h1 {
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
}

h1 span {
  color: #00A79D;
}

h1,
h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

h2 {
  max-height: 62px;
  width: 89%;
  overflow: auto;
  font-size: 1.6em;
}

h3 {
  margin-left: 4.4em;
  color: #6D6E71;
  font-size: 1.3em;
  text-align: left;
}

p {
  max-width: 95%;
  max-height: 100px;
  overflow: auto;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.user-input {
  border: 1px solid #B0B2B5;
  display: block;
  height: 2em;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

.user-input::placeholder {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.quality-value {
  font-family: 'Open Sans', sans-serif;
}

.save-btn,
.show-more-button {
  border: none;
  border-radius: 0;
  display: block;
  height: 2em;
  margin: 20px auto;
  width: 50%;
  background-color: #4BA59E;
  color: #FFFFFF;
  font-size: 1.5em;
}

.save-btn:disabled {
  background-color: #9AB3B1;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 50%;
}

/*UPVOTE/DOWNVOTE BUTTONS*/

article button {
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.delete {
  background-image: url("../images/delete.svg");
  right: 0;
  top: .2em;
}

.delete:hover {
  background-image: url("../images/delete-hover.svg");
}

.upvote {
  background-image: url("../images/upvote.svg");
  bottom: 27px;
  left: 0;
}
.upvote:hover {
  background-image: url("../images/upvote-hover.svg");
}
.downvote {
  background-image: url("../images/downvote.svg");
  left: 45px;
  bottom: 27px;
}

.downvote:hover {
  background-image: url("../images/downvote-hover.svg");
}

/*IMPORTANCE BUTTONS*/

.importance-button,
.reset-button {
  height: 2em;
  width: 120px;
  background-color: #939598;
  border: 1px solid #6D6E71;
  border-radius: 0;
  color: white;
}

.reset-button:hover {
  background-color: #4BA59E;
}

.none:hover,
.none.selected {
  background-color: #48A171;
}

.low:hover,
.low.selected {
  background-color: #457FC1;
}

.normal:hover,
.normal.selected {
  background-color: #F2D748;
}

.high:hover,
.high.selected {
  background-color: #F39E47;
}

.critical:hover,
.critical.selected {
  background-color: #DB4D48;
}

@media screen and (max-width: 1004px) {
  article,
  .user-input,
  .save-btn,
  .show-more-button,
  #button-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 836px) {
  article,
  .user-input,
  .save-btn,
  .show-more-button,
  #button-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 672px) {
  article,
  .user-input,
  .save-btn,
  .show-more-button,
  #button-wrapper {
    width: 90%;
  }

  #button-wrapper {
    flex-wrap: wrap;
    width: 400px;
  }

  .importance-button,
  .reset-button {
    height: 3em;
  }
}

@media screen and (max-width: 400px) {
  #button-wrapper {
    flex-wrap: wrap;
    width: 300px;
  }

  h3 {
    font-size: 1.2em;
  }
}

/*couldn't complete the functionality for 'show incomplete todos'*/
/*.importance-button {}*/

/*.complete {
  background-color: #9AB3B1;
  border: none;
  color: #FFFFFF;
  display: block;
  right: 4em;
  bottom: 2em;
  border-radius: 0;
  width: 75px;
}

.complete:hover {
  background-color: #4BA59E;
}

article.completed {
  background: rgba(0,0,0,.5);
}*/